.footer {
  background: $black;
  padding: 80px 0 0;
  color: $light;

  @media (max-width: $sm) {
    padding-top: 48px;
  }

  @media (max-width: $xs) {
    padding-top: 120px;
  }
}

.footer-main {
  display: flex;
  position: relative;

  @media (max-width: $md) {
    flex-wrap: wrap;
  }

  @media (max-width: $sm) {
    justify-content: space-between;
  }

  &__column-left {
    @media (max-width: $md) {
      order: 1;
      width: calc(100% - 299px);
    }

    @media (max-width: $xs) {
      order: 0;
      margin-top: 114px;
      width: 60%;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 40px;

    @media (max-width: $md) {
      position: absolute;
      top: 0;
    }
  }

  &__title {
    @extend %h3;

    color: $light;
    line-height: 155%;

    & + .footer-main__text {
      margin-top: 18px;
    }
  }

  &__text {
    margin-top: 11px;
    color: $light!important;
  }

  &__column-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: $md) {
      order: 0;
    }

    @media (max-width: $sm) {
      margin-top: 96px;
      margin-left: 0!important;
    }

    @media (max-width: $xs) {
      margin-top: 49px;
      width: 35%;
    }

    &--menu {
      margin-left: 107px;

      @media (max-width: $md) {
        margin-left: 272px;
        margin-bottom: 49px;
      }

      @media (max-width: $xs) {
        margin-top: 114px;
      }
    }

    &--news {
      margin-left: 107px;

      @media (max-width: $xs) {
        width: 60%!important;
      }
    }

    &--divisions {
      margin-left: 70px;
    }

    a {
      &:hover {
        color: $sand!important;
      }
    }
  }
}

.footer-form {
  margin-left: auto;
  flex-shrink: 0;
  width: 299px;
  display: flex;
  flex-direction: column;

  @media (max-width: $md) {
    order: 2;
  }

  @media (max-width: $xs) {
    width: 100%;
    margin-top: 80px;
  }

  &__title {
    @extend %h3;

    color: $light;
    line-height: 155%;
  }

  &__input {
    @extend %t1;

    margin-top: 18px;
    margin-bottom: 24px;
    color: $light;
    padding: 0 0 9px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $light;
    border-radius: 0!important;

    @include placeholderColor($light);
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
  padding: 20px 0 24px;
  border-top: 1px solid rgba(247,246,242,0.16);

  @media (max-width: $sm) {
    margin-top: 49px;
    position: relative;
    border-top: 0;
    padding: 48px 0;
    flex-direction: column-reverse;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: -64px;
      right: -64px;
      height: 1px;
      background: rgba(247,246,242,0.16);
    }
  }

  @media (max-width: $xs) {
    margin-top: 64px;
    padding: 40px 0 27px;
    border-top: 1px solid rgba(247, 246, 242, 0.16);

    &:before {
      display: none;
    }
  }

  &__copyright {
    color: $light;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;

    @media (max-width: $sm) {
      margin-top: 48px;
    }

    @media (max-width: $xs) {
      margin-top: 33px;
      text-align: center;
    }
  }

  &__right {
    @extend %t1;

    display: flex;
    align-items: center;

    @media (max-width: $xs) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__label {
    color: $sand;
    margin-right: 29px;

    @media (max-width: $sm) {
      margin-right: 56px;
    }

    @media (max-width: $xs) {
      width: 100%;
      margin: 0 0 18px;
      text-align: center;
    }
  }

  &__link {
    display: block;
    margin-left: 24px;
    color: $light;

    @media (max-width: $xs) {
      &:nth-child(2) {
        margin-left: 0;
      }
    }

    &:hover {
      color: $sand;
    }
  }
}