.investors {
  padding: 80px 0 120px;
  position: relative;

  @media (max-width: $sm) {
    padding-bottom: 100px;
  }

  @media (max-width: $xs) {
    padding: 120px 0;
  }

  &__flex {
    display: flex;
    align-items: center;

    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  &__content {
    width: 386px;
    flex-shrink: 0;

    @media (max-width: $md) {
      width: 100%;
    }
  }

  &__text {
    @extend %t1;

    margin-top: 24px;

    @media (max-width: $xs) {
      margin-top: 16px;
    }
  }

  &__blocks {
    flex-grow: 1;
    margin-left: 65px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: $md) {
      margin: 50px 0 0;
    }

    @media (max-width: $xs) {
      margin: 38px 0 0;
      flex-direction: column;
    }
  }
}

.investors-card {
  flex-shrink: 0;
  width: calc(50% - 15px);
  background: $light;
  box-shadow: 10px 22px 54px rgba(21, 49, 50, 0.08);
  border-radius: 10px;
  height: 382px;
  padding: 40px 30px;
  margin-top: -78px;

  @media (max-width: $sm) {
    padding-top: 30px;
  }

  @media (max-width: $xs) {
    width: 100%;
    min-height: 382px;
    height: auto;
    margin-top: 16px!important;
    padding-top: 40px;
  }

  &:nth-child(even) {
    margin-top: 30px;
  }

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(2) {
    margin-top: 108px;
  }

  &__title {
    @extend %h3;

    margin-top: 24px;
  }

  &__text {
    @extend %t1;

    margin-top: 24px;
  }
}

.investors-news {
  padding: 120px 0;
  position: relative;
  overflow: hidden;

  @media (max-width: $sm) {
    padding: 100px 0;

    .title {
      text-align: left;
    }
  }

  @media (max-width: $xs) {
    padding: 120px 0;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 831px;
    height: 527px;
    background: url('../img/investors-news-bg1.svg');
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 731px;
    height: 692px;
    background: url('../img/investors-news-bg2.png');
  }

  &__flex {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    width: calc(100% + 30px);
    position: relative;
    z-index: 1;

    @media (max-width: $sm) {
      margin-top: 18px;
      width: 100%;
      margin-left: 0;
      justify-content: space-between;
    }

    @media (max-width: $xs) {
      margin-top: 32px;
    }
  }

  &__block {
    width: 380px;
    flex-shrink: 0;
    margin: 30px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $violet;
    border-radius: 10px;
    color: $light;
    font-family: $fontTitle;
    font-weight: 800;
    font-size: 22px;
    line-height: 34px;
    text-decoration: underline;
    position: relative;
    overflow: hidden;

    @media (max-width: $sm) {
      width: calc(50% - 16px);
      order: 1;
      margin: 30px 0 0;
    }

    @media (max-width: $xs) {
      width: 100%;
      height: 254px;
      margin-top: 16px;
    }

    &:hover {
      text-decoration: none;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 293px;
      height: 382px;
      background: url('../img/investors-news1.svg');
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 135px;
      height: 167px;
      background: url('../img/investors-news2.svg');
    }
  }

  .media-card {
    flex-shrink: 0;
    margin: 30px 15px 0;

    @media (max-width: $sm) {
      width: 100%!important;
      margin-left: 0;
      margin-right: 0;

      &:nth-last-child(1) {
        width: calc(50% - 16px)!important;
      }
    }

    @media (max-width: $xs) {
      margin-top: 16px;

      &:nth-last-child(1) {
        width: 100%!important;
      }
    }

    &--big {
      width: calc(100% - 380px - 60px);
    }
  }
}