.top {
  overflow: hidden;
  position: relative;

  &__ellipse1 {
    position: absolute;
    width: 908px;
    height: 460px;
    background: url('../img/top1.png');
    top: 0;
    right: 33%;

    @media (max-width: $sm) {
      right: -200px;
    }

    @media (max-width: $xs) {
      right: auto;
      left: -350px;
    }
  }

  &__ellipse2 {
    position: absolute;
    width: 659px;
    height: 1147px;
    background: url('../img/top2.svg');
    top: 250px;
    right: 0;

    @media (max-width: $sm) {
      height: 1000px;
      top: 654px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right center;
    }

    @media (max-width: $xs) {
      top: 270px;
      width: 375px;
      height: 904px;
      background: url('../img/top2xs.svg');
    }
  }

  &__ellipse3 {
    position: absolute;
    width: 721px;
    height: 635px;
    background: url('../img/top3.png');
    bottom: 0;
    left: 0;

    @media (max-width: $sm) {
      width: 523px;
      height: 1147px;
      background: url('../img/top3sm.png');
    }

    @media (max-width: $xs) {
      width: 375px;
      height: 904px;
      background: url('../img/top3xs.png');
    }
  }

  &__ellipse4 {
    display: none;
    position: absolute;
    width: 460px;
    height: 788px;
    background: url('../img/top4sm.png');
    right: 0;
    bottom: 0;

    @media (max-width: $sm) {
      display: block;
    }

    @media (max-width: $xs) {
      width: 375px;
      height: 399px;
      background: url('../img/top4xs.png');
    }
  }

  &__ellipse3-press {
    position: absolute;
    width: 659px;
    height: 1662px;
    background: url('../img/press-top3.png');
    left: 0;
    top: 610px;

    @media (max-width: $sm) {
      top: 1150px;
      width: 523px;
      height: 1147px;
      background: url('../img/press-top3sm.png');
    }

    @media (max-width: $xs) {
      top: 2000px;
    }

    &--careers {
      @media (max-width: $sm) {
        display: none;
      }
    }
  }

  &__ellipse4-press {
    position: absolute;
    width: 749px;
    height: 462px;
    background: url('../img/press-top4.png');
    right: 0;
    bottom: 0;

    @media (max-width: $sm) {
      top: 1600px;
      bottom: auto;
      width: 460px;
      height: 1147px;
      background: url('../img/press-top4sm.png');
    }

    @media (max-width: $xs) {
      top: 2400px;
    }
  }

  &__ellipse3-investors {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 778px;
    height: 575px;
    background: url('../img/investors-bg.png');
  }

  &__flex {
    display: flex;
    align-items: center;
    margin: 20px 0 112px;
    position: relative;

    @media (max-width: $sm) {
      margin: 18px 0 85px;
      flex-direction: column-reverse;
    }

    @media (max-width: $xs) {
      margin-bottom: 123px;
    }
  }

  &__content {
    width: 670px;
    flex-shrink: 0;

    @media (max-width: $sm) {
      margin-top: 6px;
      width: 100%;
    }

    @media (max-width: $xs) {
      margin-top: 24px;
    }
  }

  &__title {
    @extend %h1;

    @media (max-width: $sm) {
      font-size: 72px;
      line-height: 150%;
      font-weight: 700;
    }

    @media (max-width: $xs) {
      font-size: 40px;
      line-height: 58px;
    }
  }

  &__text {
    margin-top: 24px;
    margin-bottom: 48px;

    @media (max-width: $sm) {
      margin-top: 12px;
    }

    @media (max-width: $xs) {
      margin-top: 16px;
      margin-bottom: 42px;
    }
  }

  &__img {
    margin-left: 13px;
    flex-shrink: 0;

    @media (max-width: $sm) {
      width: 390px;

      img {
        max-width: 100%;
      }
    }

    @media (max-width: $xs) {
      width: 220px;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 48px;

    @media (max-width: $sm) {
      justify-content: space-between;
    }

    @media (max-width: $xs) {
      flex-direction: column;
      margin-top: 42px;
    }

    .button {
      @media (max-width: $sm) {
        width: calc(50% - 16px);
      }

      @media (max-width: $xs) {
        width: 100%;
      }
    }

    .button + .button {
      margin-left: 24px;

      @media (max-width: $xs) {
        margin: 16px 0 0;
      }
    }
  }
}

.top-menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-95px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: $md) {
    display: none;
  }

  &__item {
    margin: 8px 0;

    &:hover, &--active {
      .top-menu__link {
        color: $violet;
        font-weight: 700;

        &:after {
          border-color: $violet;
          background: $violet;
        }
      }

      .top-menu__list {
        height: 52px;
      }
    }
  }

  &__link {
    @extend %t2;

    color: $black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    transition: 0.3s;

    &:after {
      content: '';
      display: block;
      margin-left: 14px;
      width: 10px;
      height: 10px;
      border: 1px solid $black;
      transform: rotate(45deg);
      transition: 0.3s;
    }

    &:hover {
      color: $violet;

      &:after {
        border-color: $violet;
        background: $violet;
      }
    }
  }

  &__list {
    margin-right: 3px;
    transition: 0.3s;
    position: relative;
    height: 0;
    overflow: hidden;
  }

  &__sublink {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $black;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 4px;

    &:after {
      content: '';
      display: block;
      margin-left: 15px;
      width: 6px;
      height: 6px;
      background: $violet;
      opacity: 0.2;
      transform: rotate(45deg);
      transition: 0.3s;
    }

    &:hover {
      color: $violet;

      &:after {
        opacity: 1;
      }
    }
  }
}