.press-select {
  @extend %t2;

  width: 100%;
  height: 52px;
  border: 1px solid rgba(212, 210, 220, 0.5);
  border-radius: 10px;
  background: transparent;
  margin-top: 24px;
  appearance: none;
  padding: 2px 50px 0 30px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 6L8 10L12 6' stroke='%23111429' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: top 19px right 30px;
  transition: 0.3s;

  @media (max-width: $sm) {
    margin: 0 0 0 30px;
  }

  @media (max-width: $xs) {
    margin: 16px 0 0;
    padding: 2px 40px 0 24px;
    background-position: top 19px right 14px;
  }

  &:hover {
    border-color: $dark;
  }
}