.press {
  padding: 120px 0 126px;
  position: relative;

  @media (max-width: $sm) {
    padding: 100px 0;
  }

  @media (max-width: $xs) {
    padding: 80px 0 110px;
  }

  &__text {
    @extend %t1;

    margin-top: 24px;
    max-width: 886px;

    @media (max-width: $sm) {
      margin-top: 16px;
    }
  }

  &__flex {
    margin-top: 70px;
    display: flex;
    position: relative;

    @media (max-width: $sm) {
      margin-top: 51px;
      flex-direction: column;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .media-card {
      width: calc(50% - 15px);
      margin-top: 33px;

      @media (max-width: $xs) {
        margin-top: 16px;
        width: 100%;
      }

      &:nth-child(1),
      &:nth-child(2) {
        margin-top: 0;

        @media (max-width: $xs) {
          margin-top: 16px;
        }
      }

      &:nth-child(1) {
        @media (max-width: $xs) {
          margin-top: 0;
        }
      }
    }

    .index-latest__card {
      background: $light;
      box-shadow: 10px 22px 54px rgba(0, 0, 0, 0.08);
      width: calc(50% - 15px)!important;
      height: 271px!important;
      margin-top: 30px;

      @media (max-width: $xs) {
        width: 100%!important;
        padding: 30px;
        height: 291px!important;
        margin-top: 16px;
      }

      &:nth-child(1) {
        margin-top: 0;
      }

      &:nth-child(2) {
        margin-top: 0;
      }

      &:hover {
        background: $dark;

        .index-latest__date,
        .index-latest__title,
        .index-latest__description {
          color: white;
        }
      }

      .index-latest__date {
        span {
          @media (max-width: $xs) {
            display: none;
          }
        }
      }

      .index-latest__title {
        margin-top: 24px;
      }
    }
  }

  &__right {
    margin-left: 60px;
    width: 390px;
    flex-shrink: 0;
    padding-top: 132px;

    @media (max-width: $md) {
      width: 300px;
    }

    @media (max-width: $sm) {
      width: 100%;
      margin-left: 0;
      padding-top: 0;
    }

    &--media {
      padding-top: 54px;

      @media (max-width: $xs) {
        padding-top: 80px;
      }
    }
  }
}