.press-search {
  border: 1px solid rgba(212, 210, 220, 0.5);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;

  @media (max-width: $sm) {
    width: 50%;
    flex-shrink: 0;
  }

  @media (max-width: $xs) {
    width: 100%;
  }

  &--media {
    @media (max-width: $sm) {
      width: 100%;
    }
  }

  &:hover {
    border-color: $dark;
  }

  &__input {
    @extend %t2;

    height: 52px;
    border: 0;
    flex-grow: 1;
    padding: 2px 29px 0;
    color: $black;

    @media (max-width: $xs) {
      padding: 2px 24px 0;
    }

    @include placeholderColor(rgba(17, 20, 41, 0.4));
  }

  &__button {
    width: 60px;
    margin: 0;
    background-color: $violet;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.7661 14.2662L20.6964 19.2168C21.1135 19.6357 21.0997 20.3034 20.6662 20.7061C20.4622 20.8957 20.1935 21 19.9102 21C19.6109 21 19.3316 20.8852 19.124 20.677L14.1562 15.6888C12.7456 16.6458 11.0957 17.15 9.3644 17.15C4.75261 17.15 1.00049 13.5275 1.00049 9.07499C1.00049 4.62251 4.75261 1 9.3644 1C13.9762 1 17.7283 4.62251 17.7283 9.07499C17.7283 10.9807 17.0337 12.8113 15.7661 14.2662ZM15.5464 9.07499C15.5464 5.78391 12.7732 3.10652 9.3644 3.10652C5.95556 3.10652 3.18238 5.78391 3.18238 9.07499C3.18238 12.3661 5.95556 15.0435 9.3644 15.0435C12.7732 15.0435 15.5464 12.3661 15.5464 9.07499Z' fill='white'/%3e%3cpath d='M20.6964 19.2168L20.8735 19.0404L20.8735 19.0404L20.6964 19.2168ZM15.7661 14.2662L15.5776 14.1019L15.4246 14.2775L15.5889 14.4426L15.7661 14.2662ZM20.6662 20.7061L20.4961 20.523L20.496 20.523L20.6662 20.7061ZM19.124 20.677L18.9468 20.8534L18.947 20.8535L19.124 20.677ZM14.1562 15.6888L14.3333 15.5123L14.1872 15.3656L14.0158 15.4819L14.1562 15.6888ZM20.8735 19.0404L15.9432 14.0897L15.5889 14.4426L20.5193 19.3932L20.8735 19.0404ZM20.8364 20.8893C21.3731 20.3906 21.3908 19.5598 20.8735 19.0404L20.5193 19.3932C20.8362 19.7115 20.8262 20.2163 20.4961 20.523L20.8364 20.8893ZM19.9102 21.25C20.2552 21.25 20.5851 21.1228 20.8364 20.8893L20.496 20.523C20.3393 20.6687 20.1317 20.75 19.9102 20.75V21.25ZM18.947 20.8535C19.2024 21.1097 19.5458 21.25 19.9102 21.25V20.75C19.6761 20.75 19.4609 20.6607 19.301 20.5005L18.947 20.8535ZM13.979 15.8652L18.9468 20.8534L19.3011 20.5006L14.3333 15.5123L13.979 15.8652ZM9.3644 17.4C11.1451 17.4 12.844 16.8812 14.2966 15.8956L14.0158 15.4819C12.6472 16.4105 11.0464 16.9 9.3644 16.9V17.4ZM0.750488 9.07499C0.750488 13.6738 4.6229 17.4 9.3644 17.4V16.9C4.88233 16.9 1.25049 13.3812 1.25049 9.07499H0.750488ZM9.3644 0.75C4.6229 0.75 0.750488 4.47623 0.750488 9.07499H1.25049C1.25049 4.76879 4.88233 1.25 9.3644 1.25V0.75ZM17.9783 9.07499C17.9783 4.47623 14.1059 0.75 9.3644 0.75V1.25C13.8465 1.25 17.4783 4.76879 17.4783 9.07499H17.9783ZM15.9545 14.4304C17.2611 12.9309 17.9783 11.0423 17.9783 9.07499H17.4783C17.4783 10.9191 16.8064 12.6916 15.5776 14.1019L15.9545 14.4304ZM9.3644 3.35652C12.6435 3.35652 15.2964 5.93019 15.2964 9.07499H15.7964C15.7964 5.63762 12.9029 2.85652 9.3644 2.85652V3.35652ZM3.43238 9.07499C3.43238 5.93019 6.08527 3.35652 9.3644 3.35652V2.85652C5.82584 2.85652 2.93238 5.63762 2.93238 9.07499H3.43238ZM9.3644 14.7935C6.08527 14.7935 3.43238 12.2198 3.43238 9.07499H2.93238C2.93238 12.5124 5.82584 15.2935 9.3644 15.2935V14.7935ZM15.2964 9.07499C15.2964 12.2198 12.6435 14.7935 9.3644 14.7935V15.2935C12.9029 15.2935 15.7964 12.5124 15.7964 9.07499H15.2964Z' fill='%2355469B'/%3e%3c/svg%3e ");
    transition: 0.3s;

    &:hover {
      background-color: $dark;
    }
  }
}