footer.footer
    div.container
        div.footer-main
            div.footer-main__column-left
                a.footer-main__logo(href="index.html")
                    img(src="img/footer-logo.svg" alt="")

                p.footer-main__title Reach Out
                p.footer-main__text info@leviteelab.com
                p.footer-main__text 215 - 800 W Pende
                p.footer-main__text Vancouver, BC
                p.footer-main__text V6C 1J8

            div.footer-main__column-menu.footer-main__column-menu--menu
                p.footer-main__title Menu
                a.footer-main__text(href="team.html") Team
                a.footer-main__text(href="about.html") About us
                a.footer-main__text(href="") Investors
                a.footer-main__text(href="careers.html") Careers
                a.footer-main__text(href="contact.html") Contact

            div.footer-main__column-menu.footer-main__column-menu--news
                p.footer-main__title News
                a.footer-main__text(href="press.html") Press releases
                a.footer-main__text(href="media.html") In the media
                a.footer-main__text(href="learn.html") Learn

            div.footer-main__column-menu.footer-main__column-menu--divisions
                p.footer-main__title Divisions
                a.footer-main__text(href="") Monke
                a.footer-main__text(href="") Sporeo
                a.footer-main__text(href="") Sporeo Supply

            form.footer-form
                p.footer-form__title Enter email for updates
                input.footer-form__input(type="text" placeholder="Email")
                button.button.button--full(type="submit") Submit


        div.footer-bottom
            p.footer-bottom__copyright Levitee Lab 2021. All Right Reserved.
            div.footer-bottom__right
                p.footer-bottom__label Connect With Us:
                a.footer-bottom__link(href="" target="_blank") facebook
                a.footer-bottom__link(href="" target="_blank") twitter
                a.footer-bottom__link(href="" target="_blank") instagram
                a.footer-bottom__link(href="" target="_blank") linkedin