header.header
    div.container.header__flex
        a.header__logo(href="index.html")
            img(src="img/logo-icon.svg" alt="")
            img(src="img/logo-text.svg" alt="")

        a.header__lang(href="") Fr
        a.header__lang.header__lang--active(href="") En

        button.header-menu
