section.menu-screen
    div.container.menu-screen__content
        div.menu-screen-top
            a.menu-screen-top__logo(href="index.html")
                div
                    img(src="img/logo-icon-white.svg" alt="")
                img(src="img/logo-text-white.svg" alt="")
            a.menu-screen-top__lang(href="") Fr
            a.menu-screen-top__lang.menu-screen-top__lang--active(href="") En

        div.menu-screen-main
            div.menu-screen-main__flex
                div.menu-screen-main__block
                    span.menu-screen-main__big News
                    a.menu-screen-main__link(href="press.html") Press releases
                    a.menu-screen-main__link(href="media.html") In the media
                div.menu-screen-main__block
                    span.menu-screen-main__big About
                    a.menu-screen-main__link(href="about.html") Vision & Values
                    a.menu-screen-main__link(href="team.html") Our Team
                span
                div.menu-screen-main__block
                    span.menu-screen-main__big Investors
                    a.menu-screen-main__link(href="investors.html") For Investors
                    a.menu-screen-main__link(href="investors-cse.html") Stock Information
                div.menu-screen-main__block
                    a.menu-screen-main__big(href="divisions.html") Divisions
                    a.menu-screen-main__link(href="") Monke
                    a.menu-screen-main__link(href="") Sporeo
                span
                div.menu-screen-main__block
                    a.menu-screen-main__big(href="learn.html") Learn
                span
                div.menu-screen-main__block
                    a.menu-screen-main__big(href="") Careers
                span
                div.menu-screen-main__block
                    a.menu-screen-main__big(href="") Contact

        div.menu-screen-bottom
            div.menu-screen-bottom__form
                p.menu-screen-bottom__title.menu-screen-bottom__title--sand Enter email for updates
                div.menu-screen-bottom__flex
                    input.menu-screen-bottom__input(type="text" placeholder="Email")
                    button.button Submit
            div.menu-screen-bottom__side
                p.menu-screen-bottom__title Email
                a.menu-screen-bottom__link(href="mailto:info@leviteelab.com") info@leviteelab.com
            div.menu-screen-bottom__side
                p.menu-screen-bottom__title Connect With Us:
                div.menu-screen-bottom__flex
                    a.menu-screen-bottom__link(href="") facebook
                    a.menu-screen-bottom__link(href="") twitter
                    a.menu-screen-bottom__link(href="") instagram
                    a.menu-screen-bottom__link(href="") linkedin