@import "layout/var";

html, body {
    position: relative;
    margin: 0;
    padding: 0;
}

body {

    color: $black;
    font-family: $font;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    transition: 0.3s;

    &.fixed {
        overflow: hidden;
    }
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
header, footer, section, div, span, p, button, a, input, textarea, form {
    box-sizing: border-box;
}

button,input,textarea,select{
    outline: none;
}
button {
    padding: 0;
    border: 0;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
}
a {
    text-decoration: none;
    transition: 0.3s;
}

a:focus {
    outline: none;
}

form {
    margin: 0;
}

footer {
    margin: 0;
    padding: 0;
}





.container {
    width: 1200px;
    margin: 0 auto;

    @media (max-width: $md) {
        width: 932px;
    }

    @media (max-width: $sm) {
        width: calc(100vw - 128px);
    }

    @media (max-width: $xs) {
        width: calc(100% - 30px);
    }
}

.button {
    background: $sand;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    width: 240px;
    height: 55px;
    transition: 0.3s;
    position: relative;

    @media (max-width: $xs) {
        width: 100%;
    }

    &:hover {
        background: $violet;
        color: $light;
    }

    &--full {
        width: 100%;
    }

    &--violet {
        background: $violet;
        color: $light;

        &:hover {
            background: $sand;
            color: $black;
        }
    }

    &--center {
        margin-left: auto;
        margin-right: auto;
    }

    svg {
        margin-left: 13px;
    }
}

.section {
    padding: 120px 0;
    position: relative;
    overflow: hidden;

    @media (max-width: $sm) {
        padding: 100px 0;
    }

    @media (max-width: $xs) {
        padding: 120px 0;
    }

    .container {
        position: relative;
    }
}

.title {
    @extend %h2;

    position: relative;

    @media (max-width: $xs) {
        font-size: 40px;
        line-height: 58px;
    }

    &--center {
        text-align: center;

        @media (max-width: $xs) {
            text-align: left;
        }
    }

    &--white {
        color: $light;
    }
}

.pagination {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $xs) {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 48px;
    }

    &__pages {
        flex-grow: 1;
        display: flex;

        @media (max-width: $xs) {
            margin-top: 40px;
        }
    }

    &__link {
        @extend %t1;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        color: $black;
        border: 1px solid $violet;
        width: 40px;
        height: 40px;
        border-radius: 6px;

        &:hover {
            background: $violet;
            color: white;
        }

        &--active {
            pointer-events: none;
            background: $violet;
            color: white;
        }

        &:last-child {
            @media (max-width: $xs) {
                margin-right: 0;
            }
        }
    }

    &__arrows {
        display: flex;
        flex-shrink: 0;
    }

    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 14px;
        border: 1px solid transparent;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        background-position: center;
        background-repeat: no-repeat;

        &:hover {
            border-color: $violet;
        }

        &--prev {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='10' viewBox='0 0 24 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 5C3.31717 6.10526 7.39088 8 9.9515 10L8.14743 5.52632L24 5.52632V4.47368L8.14743 4.47368L9.9515 0C7.39088 2 3.31717 3.89474 0 5Z' fill='%23111429'/%3e%3c/svg%3e ");

            @media (max-width: $xs) {
                margin-left: 0;
            }
        }

        &--next {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='10' viewBox='0 0 24 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24 5C20.6828 3.89474 16.6091 2 14.0485 0L15.8526 4.47368H0V5.52632H15.8526L14.0485 10C16.6091 8 20.6828 6.10526 24 5Z' fill='%23111429'/%3e%3c/svg%3e ");
        }
    }
}

.form-label {
    font-size: 14px;
    line-height: 34px;
    display: block;
    color: $light;
    margin-top: 26px;
}

.form-input {
    @extend %t2;

    margin-top: 6px;
    width: 100%;
    height: 48px;
    background: $light;
    border: 1px solid rgba(85, 70, 155, 0.3);
    border-radius: 10px;
    padding: 0 24px;
    color: $black;

    @include placeholderColor(rgba(17, 20, 41, 0.2));
}

.form-textarea {
    @extend %t2;

    margin-top: 6px;
    width: 100%;
    height: 136px;
    background: $light;
    border: 1px solid rgba(85, 70, 155, 0.3);
    border-radius: 10px;
    padding: 10px 24px;
    color: $black;

    @include placeholderColor(rgba(17, 20, 41, 0.2));
}

.form-checkbox {
    margin-top: 24px;

    input {
        display: none;

        &:checked {
            & + label {
                &:after {
                    display: block;
                }
            }
        }
    }

    label {
        @extend %t2;

        color: $light;
        padding-left: 40px;
        position: relative;
        display: block;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 28px;
            height: 28px;
            background: $light;
            border-radius: 6px;
        }

        &:after {
            content: '';
            display: none;
            position: absolute;
            left: 6px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 12px;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.9222 0.634705C14.2346 0.322286 14.7412 0.322286 15.0536 0.634705C15.366 0.947125 15.366 1.45366 15.0536 1.76608L5.45358 11.3661C5.14116 11.6785 4.63462 11.6785 4.32221 11.3661L0.322205 7.36608C0.00978577 7.05366 0.00978577 6.54712 0.322205 6.23471C0.634625 5.92229 1.14116 5.92229 1.45358 6.23471L4.88789 9.66902L13.9222 0.634705Z' fill='%23111429'/%3e%3c/svg%3e ");
            border-radius: 6px;
        }
    }
}

.select {
  margin-top: 6px;
  width: 100%;
  position: relative;

  &__head {
    @extend %t2;

    border: 1px solid rgba(85, 70, 155, 0.3);
    border-radius: 10px;
    background: $light;
    height: 48px;
    color: rgba(17, 20, 41, 0.2);
    padding: 13px 48px 13px 24px;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 16px;
      right: 16px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 6L8 10L12 6' stroke='%23111429' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    }
  }

  &__list {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    background: $light;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #BAB6CF;
    border-radius: 10px;
    overflow: hidden;
  }

  &__item {
    @extend %t2;

    padding: 8px 24px;
    border-top: 1px solid #BAB6CF;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: $violet;
      color: $light;
    }

    &:first-child {
      border-top: 0;
    }

    &--full {
      color: $black;
    }
  }
}
