//fonts
$font: 'Helvetica';
$fontTitle: 'Shippori Mincho';

//colors

$black: #111429;
$dark: #153132;
$light: #F7F6F2;
$violet: #55469B;
$sand: #F2E5C4;

//media

$md: 1259px;
$sm: 991px;
$xs: 767px;

// mixins

@mixin placeholderColor($color) {
  &::-moz-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-ms-input-placeholder {
    color: $color;
  }
  &::placeholder {
    color: $color;
  }
}
