doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Investors CSE | Levitee
        link(rel="stylesheet" type="text/css" href="css/style.min.css")
        link(rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico")
    body
        section.top
            div.top__ellipse1
            div.top__ellipse2
            div.top__ellipse3-investors

            // HEADER
            include ../components/header.pug

            div.container
                div.top__flex
                    div.top__content
                        h1.top__title CSE
                        p.top__text We are on a mission to enhance the wellbeing of society.
                        div.top__buttons
                            a.button.button--violet(href="") Presentation
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <path d="M10.2169 7.07812C9.99996 7.07812 9.82407 7.25401 9.82407 7.47099V9.82813C9.82407 10.0451 9.64819 10.221 9.43121 10.221H1.5741C1.35712 10.221 1.18124 10.0451 1.18124 9.82813V7.47099C1.18124 7.25401 1.00535 7.07812 0.788372 7.07812C0.571396 7.07812 0.395508 7.25401 0.395508 7.47099V9.82813C0.395508 10.479 0.923171 11.0067 1.57408 11.0067H9.43123C10.0821 11.0067 10.6098 10.479 10.6098 9.82813V7.47099C10.6098 7.25401 10.4339 7.07812 10.2169 7.07812Z" fill="white"/>
                                <path d="M7.73686 6.79368C7.58461 6.64666 7.34326 6.64666 7.19103 6.79368L5.89656 8.08734V0.392865C5.89656 0.175888 5.72067 0 5.5037 0C5.28672 0 5.11083 0.175888 5.11083 0.392865V8.08737L3.81714 6.79368C3.66108 6.64295 3.41238 6.64728 3.26165 6.80332C3.11461 6.95557 3.11461 7.19692 3.26165 7.34917L5.22593 9.31345C5.37916 9.46705 5.62791 9.46738 5.78151 9.31416C5.78174 9.31393 5.78197 9.3137 5.78223 9.31345L7.7465 7.34917C7.89725 7.1931 7.89293 6.94441 7.73686 6.79368Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="11" height="11" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            a.button(href="contact.html") Contact us
                    div.top__img
                        img(src="img/head.svg" alt="")

                    include ../components/top-menu.pug
                    +topMenu(4)

            div.cse#startMenu
                div.container
                    h2.title.title--center Stock Chart
                    p.cse__text Stock Market is updated based on current market activity, so they always show the most relevant stocks.
                    div.cse__block
                        img(src="img/cse1.png" alt="")
                    p.cse__text AAPL Chart by TradingView

        section.contact-form.contact-form--presentation
            div.container
                h2.contact-form__title Get more information in our presentation
                p.contact-form__text Wherever you are in your journey, we want you to have access to the compounds and alternative medicine that will improve your state of wellbeing, elevate your health, boost your cognitive threshold and provide.

                button.button.button--center Download
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 15.5V19.5C21 20.0304 20.7893 20.5391 20.4142 20.9142C20.0391 21.2893 19.5304 21.5 19 21.5H5C4.46957 21.5 3.96086 21.2893 3.58579 20.9142C3.21071 20.5391 3 20.0304 3 19.5V15.5" stroke="#111429" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7 10.5L12 15.5L17 10.5" stroke="#111429" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 15.5V3.5" stroke="#111429" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

        section.cse-bg
            div.cse-bg__1
            div.cse-bg__2
            div.cse-bg__3

            div.cse
                div.container
                    h2.title.title--center Financials
                    p.cse__text The widget allows you to display fundamental data and provides insights into how the company is doing beyond simple stock price information.
                    div.cse__block
                        img(src="img/cse2.png" alt="")
                    p.cse__text Stock Market Today by TradingView

            div.cse
                div.container
                    h2.title.title--center Investment Calculator
                    p.cse__text Chart the performance of an investment in FTRP relative to market indices or to another stock over time
                    div.cse__label Starting Amount:
                    div.cse__flex
                        div.cse__left
                            input.cse__input(type="text" value="$ 5,000")
                            div.cse__prices
                                span.cse__price $10,000
                                span.cse__price $20,000
                                span.cse__price $40,000
                                span.cse__price $50,000
                                span.cse__price $100,000
                                span.cse__price $250,000
                                span.cse__price $500,000
                                span.cse__price $600,000
                                span.cse__price $700,000
                                span.cse__price $800,000
                        div.cse__calendar
                    button.button.button--center.button--violet.cseModalButton Calculate Investment

                div.cse-modal
                    div.cse-modal__content
                        button.cse-modal__close
                        p.cse-modal__title Investment growth by $ 100,000
                        div.cse-modal__block
                            img(src="img/cse-modal.png" alt="")
                            div.cse-modal__info
                                p.cse-modal__item Breakdown
                                p.cse-modal__item CSE:FTRP
                                p.cse-modal__item Start Date
                                p.cse-modal__item Oct 6, 2020
                                p.cse-modal__item End Date
                                p.cse-modal__item Apr 7, 2021
                                p.cse-modal__item Start Price
                                p.cse-modal__item $2.70
                                p.cse-modal__item End Price
                                p.cse-modal__item $5.70
                                p.cse-modal__item Total Return
                                p.cse-modal__item 111.99%
                                p.cse-modal__item Compound Annual Grown Rate
                                p.cse-modal__item 344.12%
                                p.cse-modal__item Starting Investment
                                p.cse-modal__item $10.000.00
                                p.cse-modal__item Ending Investment
                                p.cse-modal__item $21.296.30
                                p.cse-modal__item Years
                                p.cse-modal__item 0.5


        section.contact-form.contact-form--cse
            div.container
                h2.contact-form__title Contact us if you want to <br />become our investor
                p.contact-form__text We are always available to answer any of your questions. Please use the form below or contact us directly.

                div.contact-form__content
                    div.contact-form__flex
                        div.contact-form__side
                            label.form-label Full name*
                            input.form-input(type="text" placeholder="First name Last name")
                        div.contact-form__side
                            label.form-label Email address*
                            input.form-input(type="text" placeholder="Enter your email address")
                        div.contact-form__side
                            label.form-label Company*
                            input.form-input(type="text" placeholder="Entered")

                    label.form-label Message
                    textarea.form-textarea(placeholder="Type your message...")

                    div.form-checkbox
                        input(type="checkbox" id="updatesCheckbox")
                        label(for="updatesCheckbox") I would like to receive email updates and general information about Levitee Labs

                    button.button.button--center Send

        // FOOTER
        include ../components/footer.pug

        // MENU SCREEN
        include ../components/menu-screen.pug


        // SCRIPTS
        include ../components/scripts.pug