.careers-resume {
  padding: 120px 0;
  position: relative;

  @media (max-width: $sm) {
    padding: 100px 0;
  }

  @media (max-width: $xs) {
    padding: 120px 0 0;
  }

  &__flex {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;

    @media (max-width: $sm) {
      flex-direction: column;
      margin-top: 48px;
    }

    @media (max-width: $xs) {
      margin-top: 54px;
    }
  }

  &__content {
    flex-grow: 1;

    @media (max-width: $sm) {
      width: 100%;
    }
  }
}

.careers-resume-card {
  margin-top: 30px;
  background: $light;
  box-shadow: 10px 22px 54px rgba(0, 9, 10, 0.05);
  border-radius: 10px;
  padding: 30px;

  @media (max-width: $xs) {
    padding: 30px 23px;
    margin-top: 16px;
  }

  &:first-child {
    margin-top: 0;
  }

  &__title {
    @extend %h3;
  }

  &__text {
    margin-top: 24px;

    @media (max-width: $xs) {
      margin-top: 22px;
    }

    p {
      margin-top: 16px;

      &:first-child {
        margin-top: 0;
      }
    }

    ul, ol {
      margin-top: 0;
      padding-left: 20px;

      li {
        margin-top: 16px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.careers-resume-form {
  width: 450px;
  flex-shrink: 0;
  margin-left: 60px;
  border-radius: 10px;
  background: $dark;
  padding: 60px 32px;

  @media (max-width: $sm) {
    margin-top: 64px;
    width: 100%;
    margin-left: 0;
  }

  @media (max-width: $xs) {
    margin-top: 80px;
    margin-left: -16px;
    width: 100vw;
    border-radius: 0;
    padding: 120px 16px 136px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 356px;
      height: 69px;
      top: 20px;
      left: 0;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='356' height='69' viewBox='0 0 356 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M59.9677 26.4097L42.1273 0.120216L85.3695 7.32658L59.9677 26.4097Z' fill='%2355469B'/%3e%3cpath opacity='0.4' d='M-46.6864 30.8307L13.3181 6.30202L34.9453 67.36L-46.6864 30.8307Z' stroke='white'/%3e%3cpath d='M338.479 3.48303L330.345 24.743L355.421 18.7102L338.479 3.48303Z' fill='%23111429'/%3e%3c/svg%3e ");
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 108px;
      height: 62px;
      bottom: 42px;
      right: 0;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='108' height='62' viewBox='0 0 108 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.0858 57.3445L0.12703 31.1244L33.1851 36.6238L12.0858 57.3445Z' fill='%23111429'/%3e%3cpath opacity='0.4' d='M50.0733 61.1844L85.9395 1.23429L146.18 39.9752L50.0733 61.1844Z' stroke='white'/%3e%3c/svg%3e ");
    }
  }

  &__title {
    @extend %h2;

    color: $light;

    @media (max-width: $sm) {
      text-align: center;
    }
  }

  &__text {
    margin-top: 16px;
    margin-bottom: 45px;
    color: $light;

    @media (max-width: $sm) {
      text-align: center;
      margin-bottom: 72px;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__side {
    flex-shrink: 0;
    width: calc(50% - 17px);
  }

  &__upload {
    @extend %t2;

    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    border: 1px solid rgba(85, 70, 155, 0.3);
    border-radius: 10px;
    background: $light;
    padding: 0 8px;
    color: rgba(17, 20, 41, 0.2);
    position: relative;

    &:before {
      content: '';
      display: block;
      position: relative;
      width: 26px;
      height: 24px;
      margin-right: 6px;
      flex-shrink: 0;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.2'%3e%3cpath d='M17 16L13 12L9 16' stroke='%23111429' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M13 12V21' stroke='%23111429' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M21.3914 18.3914C22.3668 17.8597 23.1373 17.0183 23.5813 16.0001C24.0253 14.9818 24.1176 13.8447 23.8436 12.7681C23.5696 11.6916 22.9449 10.737 22.0681 10.0549C21.1913 9.37283 20.1123 9.00218 19.0014 9.00145H17.7414C17.4387 7.83069 16.8746 6.74378 16.0914 5.82244C15.3082 4.9011 14.3263 4.1693 13.2195 3.68206C12.1128 3.19481 10.91 2.96481 9.70154 3.00933C8.49311 3.05385 7.31049 3.37175 6.2426 3.93911C5.17471 4.50648 4.24934 5.30855 3.53605 6.28503C2.82276 7.26151 2.34012 8.38699 2.1244 9.57684C1.90869 10.7667 1.96553 11.99 2.29064 13.1547C2.61575 14.3194 3.20067 15.3953 4.00143 16.3014' stroke='%23111429' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M17 16L13 12L9 16' stroke='%23111429' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/g%3e%3c/svg%3e ");
    }
  }

  .button {
    margin-top: 48px;

    @media (max-width: $sm) {
      margin-top: 40px;
    }

    @media (max-width: $xs) {
      margin-top: 54px;
    }
  }
}